doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Quản lý nghệ sĩ - Admin MusicApp
    link(rel="stylesheet", href="/public/css/admin.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .admin-wrapper
      aside.admin-sidebar
        .admin-brand
          .brand-icon
            i.fas.fa-music
          .brand-text
            h1 MusicApp Admin
            p Quản trị hệ thống

        nav.admin-nav
          a.nav-tab(href="/admin")
            i.fas.fa-chart-line
            span Bảng điều khiển
          a.nav-tab(href="/admin/users")
            i.fas.fa-users
            span Người dùng
          a.nav-tab.active(href="/admin/artists")
            i.fas.fa-microphone
            span Nghệ sĩ
          a.nav-tab(href="/admin/songs")
            i.fas.fa-music
            span Bài hát
          a.nav-tab(href="/admin/playlists")
            i.fas.fa-list-ul
            span Playlist

        .sidebar-footer
          a.btn-back(href="/")
            i.fas.fa-arrow-left
            span Về trang chủ

      main.admin-main
        header.admin-header
          .header-left
            h1#page-title Quản lý nghệ sĩ
            p#page-desc Tạo và quản lý nghệ sĩ

          .header-right
            .user-info
              .avatar
                i.fas.fa-user-circle
              .user-detail
                if user
                  p.user-name #{user.username}

        #notification.notification

        section.panel.active(data-panel="artists")
          .panel-header
            h2
              i.fas.fa-microphone
              span Quản lý nghệ sĩ

          .form-card
            h3 Tạo nghệ sĩ mới
            form.admin-form#artist-create-form(action="/admin/create/artist" method="post" enctype="multipart/form-data")
              .form-row
                .form-group
                  label
                    i.fas.fa-user
                    span Tên nghệ sĩ
                  input.form-control(type="text" name="name" placeholder="Nhập tên nghệ sĩ" required)

                .form-group
                  label
                    i.fas.fa-image
                    span Ảnh đại diện
                  input.form-control(type="file" name="avatar" accept="image/*")

              .form-group
                label
                  i.fas.fa-align-left
                  span Tiểu sử
                textarea.form-control(name="bio" rows="3" placeholder="Mô tả về nghệ sĩ...")

              button.btn.btn-primary(type="submit")
                i.fas.fa-plus
                span Tạo nghệ sĩ

          .panel-header.mt-4
            h3 Danh sách nghệ sĩ

          .data-table-container
            table.data-table
              thead
                tr
                  th #
                  th Avatar
                  th Tên nghệ sĩ
                  th Tiểu sử
                  th Thao tác
              tbody#artists-body
                each artist, index in artists
                  tr
                    td #{index + 1}
                    td
                      img(src=artist.avatar alt="Avatar" width="80")
                    td #{artist.name}
                    td #{artist.bio}
                    td
                      .action-buttons
                        form(action=`/admin/delete/artist/${artist._id}` method="GET")
                          button.btn.btn-danger.btn-sm.admin-action-btn(type="submit")
                            i.fas.fa-trash
                            span Xóa
                        a.btn.btn-secondary.btn-sm.admin-action-btn(href=`/admin/artist/${artist._id}`)
                          i.fas.fa-pen
                          span Sửa

    script(src="/public/js/admin.js")
