doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Quản Lý Nghệ Sĩ - Admin MusicApp
    link(rel="stylesheet", href="/public/css/admin.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .admin-wrapper
      //- Sidebar
      aside.admin-sidebar
        .admin-brand
          .brand-icon
            i.fas.fa-music
          .brand-text
            h1 MusicApp Admin
            p Quản Trị Hệ Thống

        nav.admin-nav
          a.nav-tab.active(href="/admin")
            i.fas.fa-chart-line
            span Dashboard
          a.nav-tab(href="/admin/users")
            i.fas.fa-users
            span Người Dùng
          a.nav-tab(href="/admin/artists")
            i.fas.fa-microphone
            span Nghệ Sĩ
          a.nav-tab(href="/admin/songs")
            i.fas.fa-user
            span Bài Hát
          a.nav-tab(href="/admin/playlists")
            i.fas.fa-list-ul
            span Playlist

        .sidebar-footer
          a.btn-back(href="/")
            i.fas.fa-arrow-left
            span Về Trang Chủ

      //- Main Content
      main.admin-main
        header.admin-header
          .header-left
            h1#page-title Quản Lý Nghệ Sĩ
            p#page-desc Tạo và quản lý nghệ sĩ

          .header-right
            .user-info
              .avatar
                i.fas.fa-user-circle
              .user-detail
                if user
                  p.user-name #{user.username}

        #notification.notification

        //- Artists Panel
        section.panel.active(data-panel="artists")
          .panel-header
            h2
              i.fas.fa-microphone
              span Quản Lý Nghệ Sĩ

          .form-card
            h3 Tạo Nghệ Sĩ Mới
            form.admin-form#artist-create-form(action="/admin/artists" method="post" enctype="multipart/form-data")
              .form-row
                .form-group
                  label
                    i.fas.fa-user
                    span Tên Nghệ Sĩ
                  input.form-control(type="text" name="name" placeholder="Nhập tên nghệ sĩ" required)

                .form-group
                  label
                    i.fas.fa-image
                    span Ảnh Đại Diện
                  input.form-control(type="file" name="avatar" accept="image/*")

              .form-group
                label
                  i.fas.fa-align-left
                  span Tiểu Sử
                textarea.form-control(name="bio" rows="3" placeholder="Mô tả về nghệ sĩ...")

              button.btn.btn-primary(type="submit")
                i.fas.fa-plus
                span Tạo Nghệ Sĩ

          .panel-header.mt-4
            h3 Danh Sách Nghệ Sĩ
          .data-table-container
            table.data-table
              thead
                tr
                  th #
                  th Avatar
                  th Tên Nghệ Sĩ
                  th Tiểu Sử
                  th Thao Tác
              tbody#artists-body
                each artist, index in artists
                    tr
                      td #{index + 1}
                      td 
                        img(src=artist.avatar alt="Cover" width="80")
                      td #{artist.name}
                      td #{artist.bio}
                      td
                        form(action=`/admin/artist/${artist._id}` method="GET")
                          button Xóa
                        a(href=`/artists/${artist._id}`) Sửa

    script(src="/public/js/admin.js")