doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Bảng điều khiển - Admin MusicApp
    link(rel="stylesheet", href="/public/css/admin.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .admin-wrapper
      aside.admin-sidebar
        .admin-brand
          .brand-icon
            i.fas.fa-music
          .brand-text
            h1 MusicApp Admin
            p Quản trị hệ thống

        nav.admin-nav
          a.nav-tab.active(href="/admin")
            i.fas.fa-chart-line
            span Bảng điều khiển
          a.nav-tab(href="/admin/users")
            i.fas.fa-users
            span Người dùng
          a.nav-tab(href="/admin/artists")
            i.fas.fa-microphone
            span Nghệ sĩ
          a.nav-tab(href="/admin/songs")
            i.fas.fa-music
            span Bài hát
          a.nav-tab(href="/admin/playlists")
            i.fas.fa-list-ul
            span Playlist

        .sidebar-footer
          a.btn-back(href="/")
            i.fas.fa-arrow-left
            span Về trang chủ

      main.admin-main
        header.admin-header
          .header-left
            h1#page-title Bảng điều khiển

          .header-right
            .user-info
              .avatar
                i.fas.fa-user-circle
              .user-detail
                if user
                  p.user-name #{user.username}

        #notification.notification

        section.panel.active(data-panel="dashboard")
          .stats-grid
            .stat-card
              .stat-icon.bg-primary
                i.fas.fa-users
              .stat-info
                h3 #{users.length}
                p Người dùng
            .stat-card
              .stat-icon.bg-success
                i.fas.fa-microphone
              .stat-info
                h3 #{artists.length}
                p Nghệ sĩ
            .stat-card
              .stat-icon.bg-warning
                i.fas.fa-music
              .stat-info
                h3 #{songs.length}
                p Bài hát
            .stat-card
              .stat-icon.bg-info
                i.fas.fa-list-ul
              .stat-info
                h3 #{playlists.length}
                p Playlists
    script(src="/public/js/admin.js")
