doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Quan Ly Bai Hat - Admin MusicApp
    link(rel="stylesheet", href="/public/css/admin.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .admin-wrapper
      aside.admin-sidebar
        .admin-brand
          .brand-icon
            i.fas.fa-music
          .brand-text
            h1 MusicApp Admin
            p Quan Tri He Thong

        nav.admin-nav
          a.nav-tab.active(href="/admin")
            i.fas.fa-chart-line
            span Dashboard
          a.nav-tab(href="/admin/users")
            i.fas.fa-users
            span Nguoi Dung
          a.nav-tab(href="/admin/artists")
            i.fas.fa-microphone
            span Nghe Si
          a.nav-tab(href="/admin/songs")
            i.fas.fa-user
            span Bai Hat
          a.nav-tab(href="/admin/playlists")
            i.fas.fa-list-ul
            span Playlist

        .sidebar-footer
          a.btn-back(href="/")
            i.fas.fa-arrow-left
            span Ve Trang Chu

      main.admin-main
        header.admin-header
          .header-left
            h1#page-title Quan Ly Bai Hat
            p#page-desc Tao va quan ly bai hat

          .header-right
            .user-info
              .avatar
                i.fas.fa-user-circle
              .user-detail
                if user
                  p.user-name #{user.username}

        #notification.notification

        section.panel.active(data-panel="songs")
          .panel-header
            h2
              i.fas.fa-music
              span Quan Ly Bai Hat

          .form-card
            h3 Tao Bai Hat Moi
            form.admin-form#song-create-form(action="/admin/create/song" method="POST" enctype="multipart/form-data")
              .form-row
                .form-group
                  label
                    i.fas.fa-heading
                    span Ten Bai Hat
                  input.form-control(type="text" name="songName" placeholder="Nhap ten bai hat" required)

                .form-group
                  label
                    i.fas.fa-microphone
                    span Nghe Si
                  input.form-control(type="text" name="artist" placeholder="Ten nghe si" required)

              .form-row
                .form-group
                  label
                    i.fas.fa-file-audio
                    span File Audio
                  input.form-control(type="file" name="audioUrl" accept="audio/*" required)

                .form-group
                  label
                    i.fas.fa-image
                    span Anh Bia
                  input.form-control(type="file" name="coverUrl" accept="image/*")

              button.btn.btn-primary(type="submit")
                i.fas.fa-plus
                span Tao Bai Hat

          .panel-header.mt-4
            h3 Danh Sach Bai Hat

          .data-table-container
            table.data-table
              thead
                tr
                  th #
                  th Cover
                  th Ten Bai Hat
                  th Nghe Si
                  th Thao Tac
              tbody#songs-body
                each song, index in songs
                  tr
                    td #{index + 1}
                    td
                      img(src=song.coverUrl alt="Cover" width="80")
                    td #{song.songName}
                    td #{song.artist ? song.artist.name : 'Khong co nghe si'}
                    td
                      .action-buttons
                        form(action=`/admin/delete/song/${song._id}` method="GET")
                          button.btn.btn-danger.btn-sm.admin-action-btn(type="submit")
                            i.fas.fa-trash
                            span Xoa
                        a.btn.btn-secondary.btn-sm.admin-action-btn(href=`/admin/song/${song._id}`)
                          i.fas.fa-pen
                          span Chinh sua
