doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Cập nhật nghệ sĩ - Admin MusicApp
    link(rel="stylesheet", href="/public/css/admin.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .admin-wrapper
      aside.admin-sidebar
        .admin-brand
          .brand-icon
            i.fas.fa-music
          .brand-text
            h1 MusicApp Admin
            p Quản trị hệ thống

        nav.admin-nav
          a.nav-tab(href="/admin")
            i.fas.fa-chart-line
            span Bảng điều khiển
          a.nav-tab(href="/admin/users")
            i.fas.fa-users
            span Người dùng
          a.nav-tab.active(href="/admin/artists")
            i.fas.fa-microphone
            span Nghệ sĩ
          a.nav-tab(href="/admin/songs")
            i.fas.fa-music
            span Bài hát
          a.nav-tab(href="/admin/playlists")
            i.fas.fa-list-ul
            span Playlist

        .sidebar-footer
          a.btn-back(href="/")
            i.fas.fa-arrow-left
            span Về trang chủ

      main.admin-main
        header.admin-header
          .header-left
            h1 Cập nhật nghệ sĩ
            p Chỉnh sửa hồ sơ và thông tin giới thiệu nghệ sĩ
          .header-right
            a.btn.btn-secondary(href="/admin/artists")
              i.fas.fa-arrow-left
              span Quay lại

        section.panel.active
          .panel-header
            h2
              i.fas.fa-microphone-lines
              span Chỉnh sửa nghệ sĩ

          .update-shell
            .entity-card
              .entity-media
                  img.entity-cover-image(src=artist.avatar)
              .entity-content
                h3 #{artist.name}
            .form-card
              h3 Hồ sơ nghệ sĩ
              form.admin-form(action=`/admin/update/artist/${artist._id}` method="POST" enctype="multipart/form-data")
                .form-row
                  .form-group
                    label(for="name")
                      i.fas.fa-user
                      span Tên nghệ sĩ
                    input#name.form-control(type="text", name="name", value=artist.name, placeholder="Nhập tên nghệ sĩ")

                  .form-group
                    label(for="avatar")
                      i.fas.fa-image
                      span Avatar URL
                    input#avatar.form-control(type="file", name="avatar", placeholder="/upload/cover/artist.jpg", accept="image/*")

                .form-group
                  label(for="bio")
                    i.fas.fa-align-left
                    span Tiểu sử
                  textarea#bio.form-control(type="text", name="bio", rows="8", placeholder="Nhập mô tả ngắn cho nghệ sĩ")= bioText

                .form-actions
                  a.btn.btn-outline(href="/admin/artists") Hủy
                  button.btn.btn-primary(type="submit")
                    i.fas.fa-floppy-disk
                    span Lưu thay đổi
