doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Quản Lý Người Dùng - Admin MusicApp
    link(rel="stylesheet", href="/public/css/admin.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .admin-wrapper
      //- Sidebar
      aside.admin-sidebar
        .admin-brand
          .brand-icon
            i.fas.fa-music
          .brand-text
            h1 MusicApp Admin
            p Quản Trị Hệ Thống

        nav.admin-nav
          a.nav-tab.active(href="/admin")
            i.fas.fa-chart-line
            span Dashboard
          a.nav-tab(href="/admin/users")
            i.fas.fa-users
            span Người Dùng
          a.nav-tab(href="/admin/artists")
            i.fas.fa-microphone
            span Nghệ Sĩ
          a.nav-tab(href="/admin/songs")
            i.fas.fa-user
            span Bài Hát
          a.nav-tab(href="/admin/playlists")
            i.fas.fa-list-ul
            span Playlist

        .sidebar-footer
          a.btn-back(href="/")
            i.fas.fa-arrow-left
            span Về Trang Chủ

      //- Main Content
      main.admin-main
        header.admin-header
          .header-left
            h1#page-title Quản Lý Người Dùng
            p#page-desc Quản lý tài khoản người dùng

          .header-right
            .user-info
              .avatar
                i.fas.fa-user-circle
              .user-detail
                if user
                  p.user-name #{user.username}

        #notification.notification

        //- Users Panel
        section.panel.active(data-panel="users")
          .panel-header
            h2
              i.fas.fa-users
              span Quản Lý Người Dùng

          .panel-header.mt-4
            h3 Danh Sách Người Dùng
          .data-table-container
            table.data-table
              thead
                tr
                  th #
                  th Avatar
                  th Tên
                  th Vai Trò
                  th Thao Tác
              tbody#users-body
                each user, index in users
                  tr
                    td #{index + 1}
                    td 
                      img(src=user.avartar, alt="", srcset="")
                    td #{user.username}
                    td #{user.role}
                    td
                      form(action=`/admin/users/${user._id}` method="GET")
                        button Xóa
                      a(href=`/admin/users/${user._id}`) Sửa
                  

    script(src="/public/js/admin.js")