doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Quản lý người dùng - Admin MusicApp
    link(rel="stylesheet", href="/public/css/admin.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .admin-wrapper
      aside.admin-sidebar
        .admin-brand
          .brand-icon
            i.fas.fa-music
          .brand-text
            h1 MusicApp Admin
            p Quản trị hệ thống

        nav.admin-nav
          a.nav-tab(href="/admin")
            i.fas.fa-chart-line
            span Bảng điều khiển
          a.nav-tab.active(href="/admin/users")
            i.fas.fa-users
            span Người dùng
          a.nav-tab(href="/admin/artists")
            i.fas.fa-microphone
            span Nghệ sĩ
          a.nav-tab(href="/admin/songs")
            i.fas.fa-music
            span Bài hát
          a.nav-tab(href="/admin/playlists")
            i.fas.fa-list-ul
            span Playlist

        .sidebar-footer
          a.btn-back(href="/")
            i.fas.fa-arrow-left
            span Về trang chủ

      main.admin-main
        header.admin-header
          .header-left
            h1#page-title Quản lý người dùng
            p#page-desc Quản lý tài khoản người dùng

          .header-right
            .user-info
              .avatar
                i.fas.fa-user-circle
              .user-detail
                if user
                  p.user-name #{user.username}

        #notification.notification

        section.panel.active(data-panel="users")
          .panel-header
            h2
              i.fas.fa-users
              span Quản lý người dùng

          .panel-header.mt-4
            h3 Danh sách người dùng

          .data-table-container
            table.data-table
              thead
                tr
                  th #
                  th Avatar
                  th Tên
                  th Vai trò
                  th Thao tác
              tbody#users-body
                each user, index in users
                  tr
                    td #{index + 1}
                    td
                      img(src=user.avatar alt="Avatar" width="80")
                    td #{user.username}
                    td #{user.role}
                    td
                      .action-buttons
                        form(action=`/admin/delete/user/${user._id}` method="GET")
                          button.btn.btn-danger.btn-sm.admin-action-btn(type="submit")
                            i.fas.fa-trash
                            span Xóa
                        a.btn.btn-secondary.btn-sm.admin-action-btn(href=`/admin/user/${user._id}`)
                          i.fas.fa-pen
                          span Sửa
