doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Tạo Playlist - MusicApp
    link(rel="stylesheet", href="/public/css/home.css")
    link(rel="stylesheet", href="/public/css/create-playlist.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body.create-playlist-page
    .app-wrapper
      aside.sidebar
        .sidebar-header
          a.logo(href="/")
            i.fas.fa-music.logo-icon
            span.logo-text MusicApp

        nav.nav-menu
          a.nav-item(href="/")
            i.fas.fa-home
            span Khám Phá
          .divider

        .library-section
          h4.library-title Thư Viện
          a.nav-item(href="/my-playlists")
            i.fas.fa-folder
            span Playlist của tôi
      main.main-content
        .create-playlist-main
          .content-wrapper.create-playlist-wrap
            .create-playlist-head
              h1.create-playlist-title Tạo playlist mới

            .create-playlist-card
              form#createPlaylistForm
                .create-playlist-grid
                  .create-cover-column
                    label.field-label Ảnh bìa
                    .upload-box.create-upload-box
                      input#playlistImage(type="file" accept="image/*" hidden)
                      label.upload-label(for="playlistImage")
                        i.fas.fa-image
                        span Chọn ảnh từ máy
                      .preview-image#createPlaylistPreview(style="display: none")
                        img#createPlaylistPreviewImg(alt="Xem trước ảnh bìa")
                        button.remove-image#createPlaylistRemovePreview(type="button" aria-label="Xóa ảnh")
                          i.fas.fa-times

                  .create-fields-column
                    .form-group
                      label(for="playlistName")
                        | Tên playlist
                        span.required *
                      input#playlistName(
                        type="text"
                        name="playlistName"
                        placeholder="Ví dụ: Nhạc chill cuối tuần"
                        required
                        maxlength="120"
                        autocomplete="off"
                      )

                .form-actions.create-playlist-actions
                  a.btn.btn-secondary(href="/my-playlists")
                    i.fas.fa-times
                    span Hủy
                  button.btn.btn-primary(type="submit")
                    i.fas.fa-check
                    span Tạo playlist

    include partials/music-player.pug
    script(src="/public/js/home.js")
    script(src="/public/js/create-playlist-page.js")
