doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Trang Cá Nhân - MusicApp
    link(rel="stylesheet", href="/public/css/home.css")
    link(rel="stylesheet", href="/public/css/profile.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .app-container
      //- Sidebar
      aside.sidebar
        .sidebar-header
          .logo
            i.fas.fa-music
            span MusicApp

        nav.sidebar-nav
          a.nav-item.active(href="/")
            i.fas.fa-home
            span Khám Phá
          //- a.nav-item(href="#")
          //-   i.fas.fa-chart-line
          //-   span BXH Nhạc Mới
          //- a.nav-item(href="#")
          //-   i.fas.fa-fire
          //-   span Chủ Đề & Thể Loại
          //- a.nav-item(href="#")
          //-   i.fas.fa-star
          //-   span Top 100
          //- a.nav-item(href="#")
          //-   i.fas.fa-podcast
          //-   span Podcast

          .divider

        .library-section
          h4.library-title Thư Viện
          //- a.nav-item(href="#")
          //-   i.fas.fa-heart
          //-   span Yêu Thích
          //- a.nav-item(href="#")
          //-   i.fas.fa-clock-rotate-left
          //-   span Nghe Gần Đây
          a.nav-item(href="#")
            i.fas.fa-folder
            span Playlist Của Tôi

      //- Main Content
      main.main-content
        //- Header
        header.main-header
          .header-left

        //- Profile Content
        .content-wrapper
          .profile-container
            //- Profile Header
            .profile-header
              .profile-cover
                .cover-overlay
                  button.btn-change-cover
                    i.fas.fa-camera
                    span Đổi ảnh bìa

              .profile-info-header
                .profile-avatar-large
                  .avatar-wrapper
                    img#profileAvatarPreview(src=(infor.avatar || '/public/images/default-avatar.png') alt="Avatar")
                    .avatar-overlay
                      label.avatar-upload(for="avatarUpload")
                        i.fas.fa-camera
                        input#avatarUpload(type="file" accept="image/*" hidden)

                .profile-details
                  h2.profile-name #{infor.username}
                  .profile-stats
                    //- .stat-item
                    //-   span.stat-number 0
                    //-   span.stat-label Playlist
                    //- .stat-item
                    //-   span.stat-number 0
                    //-   span.stat-label Bài Hát
                    //- .stat-item
                    //-   span.stat-number 0
                    //-   span.stat-label Theo Dõi

            //- Tabs Navigation
            .profile-tabs
              button.tab-btn.active(data-tab="edit") Thông tin và Playlist
              button.tab-btn(data-tab="security") Bảo Mật

            //- Tab Content
            .tab-content
              //- Overview Tab
              //- .tab-panel.active#overviewTab
              //-   .overview-grid
              //-     .overview-card
              //-       .card-header
              //-         h3 Hoạt Động Gần Đây
              //-         button.btn-icon
              //-           i.fas.fa-ellipsis-v
              //-       .activity-list
              //-         .activity-item
              //-           i.fas.fa-music
              //-           .activity-info
              //-             p.activity-text Đã thêm bài hát
              //-             p.activity-time 2 giờ trước
              //-         .activity-item
              //-           i.fas.fa-list-ul
              //-           .activity-info
              //-             p.activity-text Tạo playlist mới
              //-             p.activity-time 1 ngày trước

                  //- .overview-card
                  //-   .card-header
                  //-     h3 Thống Kê
                  //-     button.btn-icon
                  //-       i.fas.fa-chart-line
                  //-   .stats-grid
                  //-     .stat-box
                  //-       i.fas.fa-headphones
                  //-       .stat-content
                  //-         p.stat-value 127
                  //-         p.stat-label Giờ nghe
                  //-     .stat-box
                  //-       i.fas.fa-music
                  //-       .stat-content
                  //-         p.stat-value 348
                  //-         p.stat-label Bài hát
                  //-           //- Thông tin + Playlist (một tab)
              .tab-panel.active#editTab
                .profile-account-layout
                  .edit-form-container
                    form#editProfileForm
                      .form-section
                        h3 Thông Tin Cá Nhân

                        .form-row
                          .form-group
                            label(for="editUsername") Tên Người Dùng
                            input#editUsername(type="text" value=infor.username placeholder="Nhập tên người dùng")

                          .form-group
                            label(for="editEmail") Email
                            input#editEmail(type="email" value=infor.email placeholder="Nhập email")

                        .form-actions
                          a.btn.btn-primary(href="/update/profile") Chỉnh sửa

                  .playlists-management
                    .playlists-header-tab
                      h3 Playlist của tôi
                      a.btn.btn-primary(href="/playlists/create")
                        i.fas.fa-plus
                        span Tạo Mới

                    .playlists-list
                      each playlist in playlists
                        .playlist-item
                          .playlist-thumbnail-small
                            i.fas.fa-list-ul
                          .playlist-info-item
                            h4 #{playlist.playlistName}
                            p #{playlist.songs.length} bài hát
                          .playlist-actions-item
                            a.button.btn-iconbutton.btn-icon(title="Chỉnh sửa" href=`/update/playlist/${playlist._id}`)
                              i.fas.fa-edit
                            form(action=`/delete/playlist/${playlist._id}` method="GET")
                              button.btn-icon(type="submit")
                                i.fas.fa-trash
              //- Security Tab
              .tab-panel#securityTab
                .security-container
                  form#changePasswordForm(method="POST" action="/changePassword")
                    .form-section
                      h3 Đổi Mật Khẩu

                      .form-group
                        label(for="currentPassword") Mật Khẩu Hiện Tại
                        input#currentPassword(type="password" name="oldPassword" required)


                      .form-group
                        label(for="newPassword") Mật Khẩu Mới
                        input#newPassword(type="password" name="newPassword" placeholder="Nhập mật khẩu mới")

                      .form-group
                        label(for="confirmPassword") Xác Nhận Mật Khẩu
                        input#confirmPassword(type="password" name="confirmPassword" placeholder="Nhập lại mật khẩu mới")

                      .form-actions
                        button.btn.btn-primary(type="submit") Đổi Mật Khẩu
    include partials/music-player.pug
    script(src="/public/js/home.js")
    script(src="/public/js/profile.js")
