doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Cập nhật Playlist - MusicApp
    link(rel="stylesheet", href="/public/css/home.css")
    link(rel="stylesheet", href="/public/css/create-playlist.css")
    link(rel="stylesheet", href="/public/css/update-playlist.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .app-container
      aside.sidebar
        .sidebar-header
          .logo
            i.fas.fa-music
            span MusicApp

        nav.sidebar-nav
          a.nav-item.active(href="/")
            i.fas.fa-home
            span Khám Phá
          .divider

        .library-section
          h4.library-title Thư Viện
          a.nav-item(href="#")
            i.fas.fa-folder
            span Playlist Của Tôi

      main.main-content.update-playlist-page
        .content-wrapper
          .update-playlist-toolbar
            .page-intro

          //- Một khối: thông tin + ảnh + danh sách bài
          .update-playlist-container
            .update-playlist-unified.form-section
              h2.playlist-unified-title Thông tin playlist &amp; bài hát

              form#updatePlaylistForm(action=`/playlist/update/${playlist._id}` method="POST" enctype="multipart/form-data" )
                .playlist-edit-top
                  .playlist-cover-block
                    label.playlist-cover-label Ảnh bìa playlist
                    .playlist-cover-preview-wrap
                      .playlist-cover-preview
                        img#updatePlaylistCoverPreview(
                          src=`${playlist.coverUrl}`
                          alt="Ảnh bìa playlist"
                        )
                        .playlist-cover-overlay
                          label.btn-cover-change(for="updatePlaylistCover")
                            i.fas.fa-camera
                            span Đổi ảnh
                      input#updatePlaylistCover(type="file" name="coverUrl" accept="image/*" hidden)

                  .playlist-edit-fields
                    .form-group
                      label(for="updatePlaylistName")
                        | Tên playlist
                        span.required *
                      input#updatePlaylistName(type="text" name="playlistName" value=playlist.playlistName placeholder="Nhập tên playlist...")

                .playlist-unified-divider(role="presentation")

                .playlist-tracks-block
                  h3.playlist-tracks-heading Bài hát trong playlist
                  ol.playlist-track-list
                    each song, index in playlist.songs
                        li.playlist-track-item
                          span.playlist-track-index= index + 1

                          .playlist-track-thumb
                            i.fas.fa-music

                          .playlist-track-meta
                            p.playlist-track-name= song.title
                            p.playlist-track-artist= song.artist ? song.artist.name : "Unknown"

                          button.playlist-track-remove(
                            type="button"
                            onclick=`removeSong('${song._id}')`
                          )
                            i.fas.fa-times

                .form-actions.playlist-unified-actions
                  a.btn.btn-secondary(href="#") Hủy
                  button.btn.btn-primary(type="submit")
                    i.fas.fa-save
                    span Lưu thay đổi

    include partials/music-player.pug
    script(src="/public/js/home.js")
